@font-face {
  font-family: 'BlenderProBook';
  src: local('BlenderProBook'), url(./fonts/BlenderPro-Book.woff2) format('woff2');
}

* {
  font-family: BlenderProBook, sans-serif;
  color: #007aff;
}

.App {
  text-align: center;
}

.App-logo {
  width: 100%;
  max-width: 720px;
  pointer-events: none;
}

.App-header {
  background-color: #fcee0a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 0 1rem;
}

.App-link {
  color: #007aff;
}